body{
    /* border:2px solid rgb(90, 230,21); */
    padding: 5px;
    background-color:#d3d2d2;
    box-sizing:border-box;
    color:blue;
    border:1px solid blue;
    padding: 10px;
    margin: 10px;
}
form{
     background-color: rgb(248, 237, 237);
}
.insurance{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

.logo{
    width: 200px;
    height: 200px;
    margin-left: 20px;
    border-radius: 50%;
    
}
.metric{
    color:red;
}
.header-text{
    font-size:20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ministryLogo{
    float: right;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-right:20px;
    border-radius: 5%;
}
.firsth1{
    text-align: center;
}
.personalInfo{
    padding: 10px;
    margin: 10px;
    

}

.address{
    padding: 5px;
    margin:10px;
}
.nextPage{
    margin:10px;
    margin-bottom: 20px;
    float: right;
    text-decoration: none;
    font-size: 22px;
    color:rgb(90, 230,21);
    
}
.reset{
    margin-top:20px;
    padding:10;
    background-color: red;
    width:20%
    
    
}
div.personalInfo >label,input{
    margin-top: 10px;
    margin-bottom: 10px;
    
   
}

div.address >input{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 15%;
}
.submit{
    margin:20;
    padding-left: 20px;
    background-color: green;
    width: 20%;
    align-self:end;
}
.youKnow1{
    display: inline-block;
    float: right;
    font-size: x-large;
    margin-right: 200px;
    margin-top: 75px;
    margin-bottom: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.youKnow{
    display: inline-block;

}
.header2{
    background-color:blue;
    color:whitesmoke;
    height: 100px;
    width:100%;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    margin: auto;
    
}
.laptop{
    margin-left: 50px;
    padding: 30px;
    
}
.paraSection{
    display: flex;
    margin:10px;

}
.cardNumberSection{
    
    margin: 10px;
    box-sizing: border-box;
}

.signature{
    border-top:none;
    border-left: none;
    border-right:none;
    width:30%;
    height:25px;
}
.numberd{
    
    display: inline-block;
    margin-left: 20px;
}
.numberd1{
    display: flex;
    display: inline-block;
    float: right;
    align-content: space-between;
    margin-left: 20px;
    border-left: 20px;
    
}
.para2{
    
    display:inline-block
}
.para1{

}
hr{
    font-weight:bolder;
}
div.numberd1 >input{
    width:30px;
    float: right;
}
div.numberd>input {
    width: 30px;
}
.memberId{
    text-align: right;

}
.personalInfoSection{
    display: flex;
    margin:10px;
     box-sizing: border-box;
    
}
.policySubscriberInfo{
    margin: 10px;
    box-sizing: border-box;
}
.relationToSubscriber{
    margin-left: auto;
    margin-right: auto;
}
.accidentInfomaytion{
    margin: 10px;
    box-sizing: border-box;
}
.providerInfomation{
     margin: 10px;
    box-sizing: border-box;
}
.typeOfAccident{
    margin-left: auto;
    margin-right: auto;
}
.typeAndDate{
    display: flex;
}
.otherInformation{
    display: flex;
    
}
.otherInformationDiv{
    margin-right: 5px;

}
.nav{
    list-style-type: none;
    background-color:grey;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width:10%;
    float: right;
   
}

nav li a{
    color:white;
    text-decoration: none;
    padding: 10px 10px;
    display: inline-block;
    font-size: 30px;
}
nav li a:hover{
    background-color: rgb(20, 1, 90);
    color:rgb(248, 237, 237);
}
.higherbenefit{
    display: flex;
    display: inline-block;
}
